<header>
  <div class="container">
    <nav>
      <div class="scroll-wrapper">
        <div class="header-brand">
          <a href={{hostname}}>
            <img src="{{rootURL}}assets/images/logo.svg" alt="DataCommon Logo">DataCommon
          </a>
        </div>

        <ul>
          <li>{{link-to "Datasets" "application"}}</li>
          <li><a href="{{hostname}}/#community-profiles">Community Profiles</a></li>
          <li><a href="{{hostname}}/gallery">Gallery</a></li>
        </ul>
      </div>
      <button class="login-button">Login</button>
    </nav>
  </div>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <div class="container">
    <a href="https://mapc.org">
      <img
        class="mapc-logo"
        src="{{rootURL}}assets/images/mapc-logo.svg"
        alt="MAPC Logo"
      >
    </a>

    <ul class="contact-list">
      <li>
        <a href="https://goo.gl/maps/5GP7YcEtS1E2">
          60 Temple Place, Boston, MA 02111
        </a>
      </li>
      <li>
        <a href="tel:617-933-0700">
          617-933-0700
        </a>
      </li>
      <li>
        <a href="mailto:datacommon@mapc.org">
          datacommon@mapc.org
        </a>
      </li>
    </ul>

    <div class="social">
      Follow MAPC:
      <ul class="social-list">
        <li>
          <a
            href="https://twitter.com/MAPCMetroBoston"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="{{rootURL}}assets/images/twitter.svg" alt="MAPC on Twitter">
          </a>
        </li>
        <li>
          <a
            href="https://instagram.com/mapcmetroboston"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="{{rootURL}}assets/images/instagram.svg" alt="MAPC on Instagram">
          </a>
        </li>
        <li>
          <a
            href="https://facebook.com/MAPCMetroBoston"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="{{rootURL}}assets/images/facebook.svg" alt="MAPC on Facebook">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
