<section class="route datasets">

  <div class="page-header">
    <div class="container back-link">
      {{link-to '< Back' 'categories.sub-categories.datasets' model.dataset.menu1 model.dataset.menu2}}
    </div>

    <div class="container tight">
      <div class="dataset-details">
        <h2>{{model.dataset.menu3}}</h2>

        <ul class="table-meta">
          <li>
            Table: <em>{{model.dataset.table_name}}</em>
          </li>
          <li>
            Source: <em>{{model.dataset.source}}</em>
          </li>
          {{#with (find-by 'name' 'universe' model.metadata.rows) as |universe|}}
            <li>
              Universe: <em>{{universe.details}}</em>
            </li>
          {{/with}}
          {{#with (find-by 'name' 'descriptn' model.metadata.rows) as |descriptn|}}
            <li>
              Description: <em>{{descriptn.details}}</em>
            </li>
          {{/with}}
        </ul>

        {{#if model.years_available.length}}
          <div class="year-filter">
            <span>Select Years:</span>

            <ul>
              {{#each model.years_available as |year|}}
                <li class="{{if year.selected 'selected'}}" onclick={{action 'toggle' year}}>
                  {{year.year}}
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        <div class="download-links">
          Download:

          <div class="download-buttons gradient-{{downloadButtonsLength}}">
            {{#if model.metadata.rows}}
              <a class="button lift" href={{download_link_metadata}} download={{concat model.dataset.table_name '_meta'}}>
                meta
              </a>
            {{/if}}

            <a class="button lift" href={{download_link}} download={{model.dataset.table_name}}>
              .csv
            </a>

            {{#if model.raw_data.spatialMetaData}}
              <a class="button lift" href={{download_link_shapefile}} download={{model.dataset.table_name}}>
                .shp
              </a>
              <a class="button lift" href={{download_link_geojson}} download={{model.dataset.table_name}}>
                .geojson
              </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="container tight">
      <div class="scroll-horizontal-rotated ui lift">
        <div class="cancel-rotate">
          {{#if model.raw_data_errors}}
            {{#each model.raw_data.errors as |error|}}
              <h3 class="ui icon header">
                <i class="warning sign icon"></i>
                <div class="content">
                  Oops. {{error.title}}.
                  <div class="sub header">
                    More detail:
                    {{#each error.detail.error as |errorMessage|}}
                      {{errorMessage}}; we probably just need to sync and/or update permissions for this dataset.<br/><br/> We've been notified of the error and will work on it. If you'd like to contact us, we can be reached at <a href="mailto:data@mapc.org">data@mapc.org</a>
                    {{/each}}
                  </div>
                </div>
              </h3>
            {{/each}}
          {{else}}
            {{#if model.raw_data.message}}
              <h3 class="ui icon header">
                <i class="warning sign icon"></i>
                <div class="content">
                  Oops.
                  <div class="sub header">
                    We probably just need to sync and/or update permissions for this dataset.<br/><br/> We've been notified of the error and will work on it. If you'd like to contact us, we can be reached at <a href="mailto:data@mapc.org">data@mapc.org</a>
                  </div>
                </div>
              </h3>
            {{else}}
              {{ui-table
                model=(slice min max selected_rows)
                fields=model.raw_data.fields
                metadata=model.metadata
              }}
            {{/if}}
          {{/if}}
        </div>
      </div>

      {{#if (gt model.raw_data.rows.length perPage)}}
        <div class="pagination">
          <div class="button-wrapper lift {{unless min 'disabled'}}">
            <button onclick={{action 'first'}}>&lt;&lt;</button>
            <span class="separator"></span>
            <button onclick={{action 'previous'}}>&lt;</button>
          </div>

          <div class="page-counter">
            {{page}}
            <span class="separator"></span>
            {{pageCount}}
          </div>

          <div class="button-wrapper lift {{if (gte max model.raw_data.rows.length) 'disabled'}}">
            <button onclick={{action 'next'}}>&gt;</button>
            <span class="separator"></span>
            <button onclick={{action 'last'}}>&gt;&gt;</button>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

</section>
